:root {
	background-color: black;
}

html,
body,
canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}


@keyframes blink {
	0% {
		opacity: 0.5;
	}
	0.5% {
		opacity: 0;
	}
	1% {
		opacity: 0.5;
	}
	1.5% {
		opacity: 0;
	}
	2% {
		opacity: 0.5;
	}
	2.5% {
		opacity: 0;
	}
	3% {
		opacity: 0.5;
	}
	3.5% {
		opacity: 0;
	}
	4% {
		opacity: 1;
	}
	15% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

img[src="/plinko.gif"] {
	position: absolute;
	z-index: 999;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(20%);
	image-rendering: pixelated;
	width: 50%;
	opacity: 0;
	animation: blink 30s infinite;
	animation-delay: 120s;
	animation-timing-function: step-end;
}